In [5]:
%%time

import pandas as pd
import matplotlib.pyplot as plt


dataframe = pd.read_csv (r'music_dataframe.csv')

dataframe.head()

,Freq0,Freq1,Freq2,Freq3,Freq4,Freq5,Freq6,Freq7,Freq8,Freq9,...,Freq15,Freq16,Freq17,Freq18,Freq19,zero,centroid,rolloff,chromagram,outputbeatclassifier
0,-489.621796,70.239189,61.142830,48.898048,36.555328,26.469486,19.623278,15.663741,13.472218,11.869776,...,2.056817,2.049077,2.306891,2.535395,2.566249,605,157.260560,208.852132,0.743970,normal
1,-406.428528,153.238861,-1.369525,16.263828,10.937109,16.939487,4.494656,6.633343,6.228123,3.696192,...,-2.767086,-3.141026,-3.952870,-3.527147,-4.081270,7624,1046.537575,1888.940430,0.663114,normal
2,-511.582214,82.091522,6.478385,35.782322,4.926917,23.501289,2.172138,16.772097,-0.364136,12.615508,...,4.534374,-2.864163,2.395745,-2.710135,1.320220,22103,2243.817234,4613.987223,0.754454,normal
3,-514.132935,78.292191,65.463066,49.305317,34.505836,23.954039,18.073490,15.343872,13.722631,11.918728,...,1.235011,1.578198,2.168477,2.570371,2.564390,660,167.595804,213.587443,0.703607,normal
4,-371.671722,155.286530,35.827465,19.501045,37.935871,34.704395,17.897236,9.181622,10.555705,10.437612,...,-3.627311,-3.266012,0.071095,0.160198,-1.439477,1834,513.218302,749.435967,0.634785,normal

In [6]:
%%time

# statistically describe librosa features
columnsToDescribe=["zero","centroid","rolloff","chromagram"]
dataframe[columnsToDescribe].describe()

CPU times: user 11.3 ms, sys: 2.3 ms, total: 13.6 ms
Wall time: 11.9 ms

               zero     centroid      rolloff  chromagram
count    585.000000   585.000000   585.000000  585.000000
mean    4062.259829   593.459736  1163.797054    0.663512
std     8735.425918   840.006987  1452.608685    0.079439
min      161.000000   101.834424    74.468994    0.115923
25%      958.000000   266.161344   543.713379    0.643089
50%     1529.000000   323.542573   676.552012    0.681797
75%     2502.000000   415.151187   860.391899    0.707757
max    75315.000000  6769.973347  8923.169963    0.806292

In [8]:
dataframe.outputbeatclassifier.unique()

array(['normal', 'artifact', 'murmur', 'extrahls'], dtype=object)

In [9]:
# TODO